/* Legacy browser support */
header, nav, main, footer, aside {
    display: block;
}

body {
    background-color: #FAFAFA;
    color: #212121;
    font-family: Roboto, Noto, sans-serif;
    overflow-y: scroll;
}

#container {
    background-color: #CFD8DC;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#leftnavigation {
    float: left;
    width: 270px;
    padding: 10px;
}

#bottomnavigation {
    text-align: center;
    margin-right: -20px;
    font-size: 0.8em;
}

aside {
    float: right;
    width: 270px;
    text-align: right;
    padding: 10px;
}

main {
    margin: 0 290px;
    padding: 10px 20px;
    background-color: #FCFCFC;
    min-height: 1000px;	
}

header {
    background-color: #455A64;
    min-height: 100px;
}

/* Define CSS logo */
#logo {
    width: 290px;
    height: 100px;
    position: absolute;
}

#logobackground {
    width: 280px;
    height: 90px;
    position: absolute;
    text-align: center;
    background-color: #FF5252;
    padding: 0;
    border: 5px solid #FF5252;
}

#logoshape {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 100px solid #455A64;
    border-bottom: 40px solid transparent;
    position: absolute;
    margin-left: 175px;
    margin-top: 5px;
}

#logotext {
    width: 280px;
    height: 90px;
    position: absolute;
    margin-top: -45px;
    margin-left: -275px;
    display: table;
}

#logotext h1 {
    padding-left: 10px;
    color: #FFFFFF;
    border-bottom: none;
    font-size: 1.7em;
    text-align: left;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

img {
    max-width: 100%;
}

figcaption a {
    float:right;
    margin-top: -15px;
    margin-left: 15px;
    text-align: center;
}

.socialicon {
    padding: 0 10px;
    max-width: 30px;
}

h1 {
    text-align: center;
    color: #212121;
    border-bottom: 5px solid #FF5252;
    padding-bottom: 5px;
}

h2, h3, h4, h5, h6 {
    color: #212121;
    border-left: 5px solid #FF5252;
    padding-left: 5px;
}

aside h3 {
    border-left: none;
    padding-left: 0;
    border-right: 5px solid #FF5252;
    padding-right: 5px;
}

.leftnavigationparent {
    list-style-type: none;
    padding: 0;
    margin: 10px -10px -10px -10px;
    font-weight: bold;
}

.leftnavigationchild {
    list-style-type: none;
    padding: 0;
}

.leftnavigationparent a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 20px;
    display: block;
    background-color: #607D8B;
    border-bottom: 2px solid #FF5252;
}

.leftnavigationchild a {
    font-size: 0.8em;
    text-indent: 30px;
}

#leftnavigation a:link, #leftnavigation a:visited, #leftnavigation a:hover {
    color: #FFFFFF;
}

#leftnavigation a:hover {
    background-color: #FF5252;
}

.contacttable {
    width: 90%;
    margin-left: 0;
    border-left: 5px solid #FF5252;
}

.contacttable caption {
    text-align: left;
    padding-bottom: 1em;
}

.contacttable th {
    display: none;
}

.contacttable tbody td:first-of-type {
    padding: 1px 5px;
    width: 83px;
}

.contacttable tbody td:last-of-type {
    font-size: 0.8em;
}

form {
    padding: 10px;
}

label {
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 10px;
}

input {
    margin-top: 20px;
    display: block;
}

input:valid, input:in-range {
    background: #D9F2D9;
    border-color: #40FB40;
}

input:invalid, input:out-of-range {
    border-color: #BF4040;
    background: #F2D9D9;
}

textarea {
    margin-top: 20px;
    display: block;
}

select {
    margin-top: 20px;
    display: block;
}

.help {
    font-size: 0.8em;
    margin: 0.5em 0 0.5em 160px;
    color: #757575;
    display: block;
}

fieldset {
    margin: 10px;
    border-style: none;
    padding-top: 10px;
}

fieldset > div {
    margin:10px 0;
}

fieldset > div:last-child {
    margin-bottom:0;
}

input[type=radio], input[type=checkbox] {
    display: inline;
    margin-left: 160px;
}

input[type=submit], input[type=reset] {
    background-color: #BDBDBD;
    color: #212121;
    border:1px solid #455A64;
    font-size: 1.2em;
    display: inline;
}

footer {
    text-align: right;
    clear: both;
    border-right: 5px solid #FF5252;
    padding-right: 5px;
    margin-right: 10px;
}

#contact h1 {
    border: none;
    text-align: right;
    font-size: 1.2em;
}

#contactdetails {
    line-height: 200%;
    list-style-type: none;
}

.copyrightnotice {
    font-size: 0.8em;
    margin: 0.5em 0;
}